<header class="py-3">
  <div class="header__logo">
    <a class="header__logo-af d-inline-block mr-1" [routerLink]="['/']">
      <h1>Air France</h1>
      <img src="assets/header/logo_air_france.svg" height="24" alt="Air France" class="img-fluid header__image-af">
    </a>
    <a class="header__logo-skyteam d-inline-block" href="https://www.skyteam.com" target="_blank" rel="noreferrer">
      <img src="assets/header/logo_skyteam.svg" height="24" alt="SkyTeam" class="img-fluid header__image-skyteam">
    </a>
  </div>
</header>
