<div data-role="find-trip-form">
  <div>
    <h2 class="mt-4 text-center">
      Retrieve your booking<br />-<br />
    </h2>
    <div class="alert-box" role="alert" *ngIf="bookingForm.invalid && submitted">
      <p class="mb-0">Please complete all required fields. Check that you provided a valid booking number and Family Name.</p>
    </div>
    <p>
      You can find your booking by filling out your family name and the booking code in your booking confirmation
    </p>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" [ngClass]="{ 'submitted': this.submitted }" role="form" novalidate>
    <div class="form-group">
      <label for="bookingCode"><b>Booking code</b></label>
      <input
        autofocus
        type="text"
        formControlName="bookingCode"
        id="bookingCode"
        name="bookingCode"
        class="form-control"
        aria-label="bookingCode"
        aria-required="true"
        afFocusOnError
        #tooltip="ngbTooltip"
        triggers="focus:blur"
        [autoClose]="false"
        ngbTooltip="Booking code. Numbers and letters except 1. Example: EGC234"
        placement="right">
    </div>
    <div class="form-group">
      <label for="lastName"><b>Family name</b></label>
      <input
        type="text"
        formControlName="lastName"
        id="lastName"
        name="lastName"
        class="form-control"
        aria-label="lastName"
        aria-required="true"
        afFocusOnError
        #tooltip="ngbTooltip"
        triggers="focus:blur"
        [autoClose]="false"
        ngbTooltip="Last Name. Only numbers"
        placement="right">
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn text-center d-block"
        aria-label="Retrieve Booking"
        role="button">Retrieve Booking</button>
    </div>
  </form>
</div>
