<div data-role="find-trip-form">
  <div>
    <h2 class="mt-4 text-center">
      Retrieve your booking<br />-<br />
    </h2>
    <div class="alert-box" role="alert" *ngIf="bookingForm.invalid && submitted">
      <p>Please complete all required fields. Check that you provided a valid booking number and Family Name.</p>
      <p>
      Booking Number examples: EGC234<br />
      Family Name: Only letters are allowed
      </p>
    </div>
    <p>
      You can find your booking by filling out your family name and the booking code in your booking confirmation
    </p>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" [ngClass]="{ 'submitted': this.submitted }" novalidate role="form">
    <div class="form-group">
      <label for="bookingCode"><b>Booking code</b></label>
      <input
        type="text"
        formControlName="bookingCode"
        id="bookingCode"
        name="bookingCode"
        class="form-control"
        aria-label="bookingCode"
        aria-required="true">
    </div>
    <div class="form-group">
      <label for="lastName"><b>Family name</b></label>
      <input
        type="text"
        formControlName="lastName"
        id="lastName"
        name="lastName"
        class="form-control"
        aria-label="lastName"
        aria-required="true">
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn text-center d-block"
        role="button">Retrieve Booking</button>
    </div>
  </form>
</div>
